body {
    font-family: "Arial Narrow";
    background-color: white;
  }
  
  section {
    justify-content: center;
    padding: 1rem;
  }
  
  header {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  aside {
    padding: 1rem;
    text-align: center;
  }
  
  aside li {
    direction: ltr;
  }
  
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .make-burger {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  
  .devour-button {
    background-color: brown;
    color: white;
    padding: 0.25rem;
    margin: 0.25rem;
  }
  
  #burger {
    margin-bottom: 1rem;
  }