<header>
  <link rel="stylesheet" href="./assets/style/style.css" type="text/css"/>
  <img src="https://media.giphy.com/media/XbAYSN0jUBQbe/giphy.gif" alt="mmmm burgers" width="400" height="400"
</header>

<main>
  <section>
    <h1> EAT THE BURGERS!</h1>
    <div id="table">
      <div id="on-table">
        <ol>
          {{#each burgers}}
            {{#unless devoured}}
              {{> burgers/burger-block devoured=true}}
            {{/unless}}
          {{/each}}
        </ol>
      </div>
    </div>
  </section>

  <aside>
    <h2>BURGERS EATEN!</h2>
      <div id="eaten">
        <div id="eaten-burgers">
          <ol>
            {{#each burgers}}
              {{#if devoured}}
              <li>
                {{burger_name}}
              </li>
              {{/if}}
            {{/each}}
          </ol>
        </div>
      </div>
  </aside>
</main>

<footer>
  <h3 id="make-burger-title">Make a burger?</h3>
  <form class="make-burger">
    <div class="form-info">
      <label for="burger">You can has burger:</label>
      <input type="text" id="burger" name="burger_name">
    </div>

    <button id="add-burger" type="submit">Has Burger</button>
  </form>
</footer>